{% extends 'base.html.twig' %}

{% block menu %}
    {% include 'menubase.twig' %}
{% endblock %}

{% block header %}
	<div class="page-header">
		<h2 class="centrer isoler">Identification</h2>
	</div>
{% endblock %}

{% block section %}
    {{ form(form) }}
{% endblock %}
