{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue | ODI
{% endblock %}

{% block menu %}
    {% include 'menubase.twig' %}
{% endblock %}

{% block header %}
	<div class="page-header">
		<h2 class="centrer isoler">Bienvenue dans le projet ODI</h2>
	</div>
{% endblock %}

{% block section %}
  <div class="container">
  </div>
{% endblock %}





